{% extends 'blog/base.html' %}

{% block content %}
      {% for p in posts %}
        		<div class="post">
        			<div class="date">
        				{{ p.published_date }}
        		    </div>
        		    <a class="btn btn-default" href="{% url 'editar_pub' pk=p.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        		<h2><a href = "{% url 'detalle_pub' pk=p.pk %}" >{{ p.title }}</a></h2>
        		<p>{{ p.text|linebreaksbr }} </p>
        	</div>
      {% endfor %}
{% endblock %}
